/******************************************************************************
          Name: styles.js
        Author: Chad Chapman
  Date Created: December 29, 2022
   Description: CSS Stylesheet for research seminar paper.
******************************************************************************/
* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.abstract-header {
    font-size: 20px;
    text-align: center;
}

.abstract {
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
    text-indent: 50px;
}

.body-text {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
    text-indent: 50px;
    line-height: 25px;
}

.body-text-no-indent {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
    line-height: 25px;
}

figure {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
}

.figure-image {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
}

.figure-image figcaption {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.figure-image img {
    width: 90%;
}

figure img {
    margin-left: auto;
}

figcaption {
    margin-left: auto;
}

h1 {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 70px;
    text-align: center;
}

h3 {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 15px;
}

.info {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.number {
    width: 35px;
    vertical-align: top;
}

.section-1 {
    margin-top: 300px;
}

table {
    margin-left: 100px;
    margin-right: 100px;
}